<a href="https://itunes.apple.com/jp/app/id585027354" target="_top">
  <img src="https://dummyimage.com/300x80/000/fff&text=_top" style="border-style:none;vertical-align: text-bottom;">
</a>
<a href="https://itunes.apple.com/jp/app/id585027354" target="_blank">
  <img src="https://dummyimage.com/300x80/333/fff&text=_blank" style="border-style:none;vertical-align: text-bottom;">
</a>
<a href="#" onclick="window.open(encodeURI('https://itunes.apple.com/jp/app/id585027354'), '_blank'); return false">
  <img src="https://dummyimage.com/300x80/000/fff&text=onclick" style="border-style:none;vertical-align: text-bottom;">
</a>